{% load static %}
<html><body>
<link href="{% static "style.css" %}" rel="stylesheet"></link>


<br><br><br>
<pre>
 ,'";-------------------;"`.                                          
 ;[]; ................. ;[];                                          
 ;  ; ..9...4...4...7.. ;  ;   INSERT DISK 1
 ;  ; ................. ;  ;                                          
 ;  ; ................. ;  ;     
 ;  ; ................. ;  ;                                          
 ;  ; ...Disk.1.of.N... ;  ;  
 ;  ; ................. ;  ;                                          
 ;  `.                 ,'  ;                                          
 ;    """""""""""""""""    ;                                          
 ;    ,-------------.---.  ;                                          
 ;    ;  ;"";       ;   ;  ;                                          
 ;    ;  ;  ;       ;   ;  ;                                          
 ;    ;  ;  ;       ;   ;  ;                                          
 ;//||;  ;  ;       ;   ;||;                                          
 ;\\||;  ;__;       ;   ;\/;               
  `. _;          _  ;  _;  ;                                          
PK  " """"""""""" """"" """                                           

</pre>

<br><br><br>

<a href="/login">login</a><br>
<a href="/register">register</a>

</body></html>
