{% load static %}
<html><body>
<link href="{% static "style.css" %}" rel="stylesheet"></link>


<br><br><br>
<pre>
#telnet horizons.jpl.nasa.gov 6775
  ======================================================================
  |                     Jet Propulsion Laboratory                      |
  |                                                                    |
  |                  * * *    W A R N I N G   * * *                    |
  |                                                                    |
  |                          Property of the                           |
  |                      UNITED STATES GOVERNMENT                      |
  |                                                                    |
  |    This computer is funded by the United States Government and     |
  | operated by the California Institute of Technology in support of   |
  | ongoing U.S. Government programs and activities.  If you are not   |
  | authorized to access this system, disconnect now.  Users of this   |
  | system have no expectation of privacy. By continuing, you consent  |
  |     to your keystrokes and data content being monitored.           |
  ======================================================================

     ___    _____     ___
    /_ /|  /____/ \  /_ /|       Horizons On-line Ephemeris System v3.86
    | | | |  __ \ /| | | |       Solar System Dynamics Group
 ___| | | | |__) |/  | | |__     Jet Propulsion Laboratory
/___| | | |  ___/    | |/__ /|   Pasadena, CA, USA
|_____|/  |_|/       |_____|/

 Establishing connection, stand-by ...

JPL Horizons, version 3.86
Type `?' for brief intro, `?!' for more details
System news updated Feb 20, 2014

Horizons> login
</pre>

<form action="/login" method="post"> {% csrf_token %}
username: {{ form.username }}<br>
password: {{ form.password }}<br>
     <input type="submit" value="submit">
   </form></body></html>