{% include "base.html" %}

<div class="container" id="main">
    <div class="row">
        <div class="col-md-12">
            <h1>Hi there</h1>
            <p>This isn't a profile page as you might have expected but really there isn't much to fiddle with on your account yet.</p>
            <p>How to use this website:</p>
            <ul>
                <li>Read up <a href="http://trailofbits.github.io/ctf/">the Trail of Bits CTF guide.</a></li>
                <li>Own up a level on <a href="http://pwnable.kr">pwnable.kr</a></li>
                <li>Submit the level name, your exploit, and the flag to <a href="http://redobelisk.com/submit">here</a></li>
                <li>If you're the first to haq the level, congrats! If others have solved it then you'll be able to see their solutions/write ups</li>
             </ul>
             <p>The site will live on past CySCA and will (hopefully) be integrated with many more CTFs including live ones!</p>
        </div>
    </div>
</div>